.movie-form-container {
  margin: 4em auto 0;
  width: 100%;
  max-width: 1200px;
  padding: 2em;
}

.movie-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
}

.movie-form__title {
  font-size: 2rem;
}

.movie-form__input,
.movie-form__textarea {
  width: 100%;
  font-size: 1.2rem;
  padding: 1em;
  border-radius: 0.7em;
  margin-top: 1em;
}

.movie-form__textarea {
  resize: vertical;
}

.movie-search-results {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 1em;
  margin-top: 1em;
}

button[type="submit"] {
  width: 20%;
  padding: 0.7em 1.4em;
  margin-bottom: 2em;
  border-radius: 1em;
  cursor: pointer;
}

@media (max-width: 576px) {
  button[type="submit"] {
    width: 100%;
  }

  .movie-search-results {
    grid-template-columns: 1fr;
  }

  .movie-form__input,
  .movie-form__textarea {
    font-size: 0.8rem;
  }

  .movie-form__title {
    font-size: 1.5rem;
  }
}

@media (576px <= width < 992px) {
  .movie-search-results {
    grid-template-columns: 1fr 1fr;
  }
}
