<section class="movie">
    @if (movie) {
    <img [src]="movie.metadata.posterUrl === 'N/A' ? '/placeholder.png' : movie.metadata.posterUrl" [alt]="movie.title">
    <div class="movie__details">
        <h2 class="movie__title">{{movie.title}}</h2>
        <div class="movie__metadata">
            <div class="movie__badge">Year: {{movie.metadata.year}}</div>
            <div class="movie__badge">Genre: {{movie.metadata.genre}}</div>
            <div class="movie__badge">Runtime: {{movie.metadata.runtime}}</div>
        </div>
        <div class="movie__info">
            <h3 class="movie__rating">IMDb rating: {{movie.metadata.ratings}}</h3>
            <h3>Plot</h3>
            <p>{{movie.metadata.plot}}</p>
            <h3>Actors</h3>
            <p>{{movie.metadata.actors}}</p>
        </div>
        <div class="movie__watched">
            @if(movie.isWatched) {
            <p><i class="fas fa-check"></i>
                Viewed</p>
            } @else {
            <button (click)="markMovieAsViewed(movie.id)" class="movie__watched-btn">Mark as viewed</button>
            }
        </div>
    </div>
    }
</section>