.movie {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4em;
}

.movie__details {
  position: relative;
  margin-left: 2em;
}

.movie__title {
  font-size: 2rem;
}

.movie__metadata {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
}

.movie__metadata .movie__badge:first-child {
  margin-left: 0;
}

.movie__badge {
  background-color: #eee;
  color: #555;
  font-size: 0.9rem;
  padding: 0.5em 1em;
  border-radius: 1.5em;
  margin: 0 0.5em;
}

.movie__info {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  gap: 1em;
}

.movie__rating {
  margin-bottom: 2em;
}

.movie__watched {
  position: fixed;
  top: 5%;
  right: 5%;
}

.movie__watched-btn {
  border-radius: 2em;
  padding: 1em 2em;
  cursor: pointer;
}

@media (max-width: 850px) {
  .movie {
    flex-direction: column;
    padding: 2em;
  }

  .movie__watched {
    position: fixed;
    top: 5%;
    right: 5%;
  }

  .movie__metadata {
    flex-direction: column;
    gap: 1em;
    width: 30%;
  }

  .movie__title {
    margin-top: 1em;
  }
}
